.course-list {

  &-holder {
    width: 65%;
  }

  &-item {
    padding: 13px;
    margin-bottom: 5px;

    font-size: 18px;

    background-color: $black-200;
    
    transition: all .3s ease-in-out;

    @include on-event {
      .course-list-item-details {
        color: $white;
      }

      .course-list-item-time {
        &:after {
          background-color: $white; 
        }
      }
    }
  }

  &-item-title {
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
  }

  &-item-details {
    font-weight: 600;
    text-transform: uppercase;
    color: $green-100;
  }

  &-item-time {
    position: relative;

    margin-right: 20px;

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      right: -12px;

      width: 3px;
      height: 70%;

      background-color: $green-100;
    }
  }

  &-notif {
    font-size: 22px;
    font-weight: 500;
    color: $white;
  }
}

@include respond-to(sm-down) {
  .course-list {

    &-holder {
      width: 100%;
    }

    &-item {
      padding: 10px;
    }
  }
}

@include respond-to(sm) {
  .course-list {

    &-item {
      font-size: 18px;
    }
  }
}

@include respond-to(xs) {
  .course-list {

    &-item {
      font-size: 15px;
    }
  }
}